<div class="container">
    <div class="title">
        <h1>WebLinkr</h1>
    </div>

    <div class="search">
        <md-input-container>
            <input md-input placeholder="recherche" [(ngModel)]="searchText">
        </md-input-container>
    </div>

    <div class="list">
        <md-card *ngFor="let link of links | filterBy: searchText">
            <md-card-title>{{link.title}}</md-card-title>
            <md-card-content>
                {{link.description}}
                <md-chip-list>
                    <md-chip *ngFor="let tag of link.tags" color="primary">{{tag}}</md-chip>
                </md-chip-list>
            </md-card-content>
        </md-card>
    </div>
</div>
